@media (min-width: 1500px) {
  .content-box__wallet a {
    -webkit-margin-start: calc(48% - 5rem);
            margin-inline-start: calc(48% - 5rem);
  }

  .secondary-header {
    padding: 0 40px;
  }
  .secondary-header h1 {
    -webkit-margin-start: 25px;
            margin-inline-start: 25px;
  }
}