@media (min-width: 550px) {
    .title h3 {
        font-size: 3.4rem;
        line-height: 4.5rem;
    }
    .header {
        padding: 0 20px;
        h1 {
        margin-inline-start: 10px;
        font-size: 3.7rem;
    }

    }
    
    
}