@media (min-width: 790px) {
    .content-box {
        width: 80%;
        &__element {
            width: 250px;
            margin-inline-end: 40px;
        }
        img {
            width: 250px;
            height: 250px;
        }  
    }
    .tawfiki {
        font-size: 1.4rem;
        flex-direction: row;
        justify-content: space-between;    
    }
    .header h2 {
            font-size: 4rem;
            margin-inline-start: 10px;
        }
    .content-box__wallet {
        margin-inline-start: calc(20% - 25%); 
    
    }
    .title h3 {
        font-size: 3.9rem;
        line-height: 5rem;
    }
    .header {
        padding: 0 40px;
        h1 {
        margin-inline-start: 20px;
        font-size: 4rem;
    }

    }
    .popup-window__content {
        margin: 30% auto;
    }
//////////////About Us
    .secondary-header {
        padding: 0 30px;
        h1 {
            margin-inline-start: 15px;
            font-size: 4rem;
        }
    }
        .aboutus {
            div {
            margin-block-end: 30px;
            }
            h2 {
            font-size: 6rem;
            
            }
            p {
            font-size: 2.8rem;
            line-height: 4.4rem;
            }
        }
}