@media (min-width: 790px) {
    .content-box__element {
        margin-inline-end: 40px;
            }
    .tawfiki {
        flex-direction: row;
        justify-content: space-between;    
    }
    .header h2 {
            font-size: 4rem;
            margin-inline-start: 10px;
        }
    .content-box__wallet {
        margin-inline-start: calc(20% - 25%); 
    
    }
    .title h3 {
        font-size: 3.9rem;
        line-height: 5rem;
    }
    .header {
        padding: 0 30px;
        h1 {
        margin-inline-start: 20px;
        font-size: 4rem;
    }
}
.popup-window__content {
    margin: 30% auto;
}
    
}