footer {
    width: 100%;
    height: fit-content;
    padding: 20px 5px;
    margin-block-start: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
}

.contact-email {   
    margin: 10px auto;
    font-size: 1.8rem;
    color: $light;   
} 
.social {
    width: 300px;
    ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: $light;
    }
    img {
        width: 25px;
        height: 25px;
    }
    img:hover {
        width: 30px;
        height: 30px;
    }
    
}
.tawfiki {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 10px;
    letter-spacing: 2px;
    font-family: $font2;
    color: $light;
    font-size: 1.6rem;
    text-align: center;
    h2 {
        margin: 10px 0;
    }

}